body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff !important;
}

footer {
  display: block;
}

.text-muted {
  color: #b4bcc2;
}

.takal {
    padding: 3rem 0 2rem;
    position: relative;
    background-color: #dd3d31;
    z-index: 0
}

.takal h1 {
    color: #fff;
    font-weight: 700;
    font-family: 'Libre Baskerville', serif;
    font-size: 3rem;
    line-height: 1.1;
    z-index: 1
}

.takal h2 {
    color: rgba(255, 255, 255, .6);
    font-weight: 500;
    z-index: 1;
    font-size: 1.2rem
}

.m-0 h1, h2, h3, h4, h5 {
    font-family: 'Libre Baskerville', serif !important;
    font-weight: bold;
}